/* HEADER */

header {

    grid-area: header;
    nav {
        background-color: #efd9d9;

        .container-fluid {

            a {
                .logo{
                    height: 80px;
                }
            }

            #navbarText {

                .display-header-right {
                    ul {
                        display: flex;
                        margin-right: 15px;
                    }
                }

                .navbar-nav {
                    display: flex;
                    flex-direction: row;
                    padding-left: 0;
                    margin-bottom: 0;
                    list-style: none;
                    justify-content: center;
                    align-items: center;
                    width: 100%;

                    .nav-item {

                        a{  
                            padding-right: .5rem;
                            padding-left: .5rem;
                            color: $vlore-dorado;
                            margin: 0px 10px 0px 10px;
                            &:hover{
                                color:$vlore-marron;
                                transition: opacity 0s, all .3s cubic-bezier(.77, 0, .175, 1);
                            }
                        }

                        #active {
                            color:$vlore-marron;
                            border-bottom: 2px solid $vlore-marron;
                        }
                    }
                }
            }
        }
    }
}